body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: #c5cae9;
    font-family: 'Onest', sans-serif;
}

.gradient-background {
    height: 100%;
    background: linear-gradient(45deg, #5093e5, #5052e5, #9650e5, #cf50e5);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.gradient-text {
    background: linear-gradient(45deg,#9650e5, #cf50e5, #5093e5, #4749a0);
    background-size: 400% 400%;
    animation: gradientTextAnimation 15s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes gradientTextAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.onest-fontik {
  font-family: 'Onest', sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
}

.modal1 {
    background-color: rgba(33, 33, 41, 0.788);
    width: 328px;
    height: 180px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-95%, -225%);
    border-radius: 30px;
}

.modal2 {
    background-color: rgba(33, 33, 41, 0.788);
    width: 180px;
    height: 180px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(24%, -225%);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.modal3 {
    background-color: rgba(33, 33, 41, 0.788);
    width: 534px;
    height: 180px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-59%, -225%);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.modal5 {
    background-color: rgba(33, 33, 41, 0.788);
    width: 534px;
    height: 448px; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-59%, -45%);
    border-radius: 30px;
    overflow: hidden;
}

.modal6 {
    background-color: rgba(33, 33, 41, 0.788);
    width: 534px;
    height: 75px; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-59%, 360%);
    border-radius: 23px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-label {
    font-size: 15px;
    color: #c5cae9;
    text-align: center;
    margin-top: 2px;
}

.icons {
    width: 40px;
    margin: 7px 65px auto;
}

.icon-link {
    text-decoration: none; 
    color: inherit; 
}

.icon-link:hover .icon-container {
    cursor: pointer; 
}

.profile {
    margin: 10px;
}

.profile img {
    width: 55px;
    height: 55px;
    margin-right: 10px;
    vertical-align: middle;
    display: inline-block;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    margin-top: 15px;
    margin-left: 3px;
}

h2 {
    font-size: 17px;
    margin-left: 5px;
    margin-top: -4px;
}

h3 {
    font-size: 17px;
}

h4 {
    font-size: 30px;
    margin-top: 0;
}

h5 {
    font-size: 23px;
    margin-left: 5px;
    margin-top: 10px;
}

.blurred {
    filter: blur(5px);
}

.visible {
    filter: none;
}

.toggle-visibility {
    cursor: pointer;
}

.code-container {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-top: -45px;
    margin-left: 5px;
    margin-right: -100px;
}

.code-container h5 {
    margin: 0 5px 0 0;
}

h6 {
    font-size: 23px;
    margin-left: 5px;
    margin-top: -34px;
    display: flex;
    align-items: center;

}

.balance-text {
    display: inline-flex;
    align-items: center;
}

.coin {
    margin-left: 5px;
    width: 47px !important; 
    height: auto !important;
}

.quest_mark {
    margin-left: 0px;
    width: 40px !important;
    height: auto !important; 
}

.btn_ref {
    margin: 7px;
    padding: 12px 24px;
    font-size: 25px;
    background-color: rgb(2, 2, 27);
    color: rgb(255, 255, 255);
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 16px;
    font-family: 'Onest', sans-serif;
}

.btn_ref:hover {
    color: rgb(2, 2, 27);
    background-color: rgb(204, 196, 236);
}

.leaderboard-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.leaderboard-entry {
    flex: 0 0 48%;
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    flex-direction: row;
    vertical-align: middle;
    background-color: rgba(33, 33, 41, 0.788);
    padding: 5px;
    border-radius: 15px;
    margin: 5px;
    height: 63px;
    box-sizing: border-box;
}

.leaderboard-name, .leaderboard-balance {
    display: flex;
    align-items: center;
}

.request-entry {
    flex: 0 0 48%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(33, 33, 41, 0.788);
    padding: 5px;
    border-radius: 15px;
    margin: 5px;
    box-sizing: border-box;
    height: 63px;
}

.leaderboard-photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}


.leaderboard-photo {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    border-radius: 50%;
    z-index: 1000;
    vertical-align: middle;
    display: inline-block;
}

.leaderboard-name {
    margin-right: 10px;
    margin-left: 10px;
}

.coin2 {
    margin-left: 5px;
    width: 18px !important;
    height: auto !important; 
}

.quest_mark2 {
    margin-left: 5px;
    width: 17px !important; 
    height: auto !important; 
}

.coin2, .quest_mark2 {
    display: inline-block;
    vertical-align: middle;
    width: 18px; 
    height: 18px;
}

.leaderboard-balance img.quest_mark2 {
    margin-left: 0px; 
}

.leaderboard-balance img.coin2 {
    margin-left: 2px; 
    margin-right: 8px; 
}

.leaderboard-balance_user {
    display: flex;
    align-items: center;
}

.leaderboard-balance_user img.quest_mark2 {
    margin-left: 0px; 
}

.leaderboard-balance_user img.coin2 {
    margin-left: 2px; 
    margin-right: 13px;  
}

.code-search {
    margin-top: -8px;
    text-align: center;
}

.friend-code-input {
    width: 60%;
    padding: 10px;
    border-radius: 20px; 
    border: 1px solid #c5cae9;
    background-color: rgba(33, 33, 41, 0.788);
    color: #c5cae9;
    font-size: 18px;
    outline: none;
}

.friend-code-input::placeholder {
    color: #c5cae9;
    opacity: 0.7;
}

.invite-btn {
    padding: 10px;
    background-color: rgb(2, 2, 27);
    color: #fff;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-left: 7px;
    font-family: 'Onest', sans-serif;
}

.invite-btn:hover, .toggle-requests-btn:hover {
    color: rgb(2, 2, 27);
    background-color: rgb(204, 196, 236);
}

.request-name {
    margin-right: 10px;
}

.friend-requests {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(33, 33, 41, 0.788);
    border-radius: 15px;
    padding: 10px;
    margin: 10px auto;
    width: 90%;
}

.request-photo-container {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 10px;
}

.request-photo {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    border-radius: 50%;
}

.button-container {
    display: flex;
    gap: 5px;
}

.accept-btn, .decline-btn {
    padding: 5px 15px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.accept-btn {
    background-color: #4CAF50; 
    color: white;
    font-family: 'Onest', sans-serif;
}

.decline-btn {
    background-color: #f44336; 
    color: white;
    font-family: 'Onest', sans-serif;
}

.toggle-requests-btn {
    background-color: rgb(2, 2, 27);
    color: #fff;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    margin: 10px auto;
    width: 200px;
    font-family: 'Onest', sans-serif;

}

.leaderboard-container {
    max-height: 300px; 
    overflow-y: auto;
}

.leaderboard-container::-webkit-scrollbar {
    display: none; 
}

.leaderboard-container {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.hidden {
    display: none;
}

.hidden {
    display: none;
}
