@import url(vars.css);

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    color: #c5cae9;
    font-family: 'Onest', sans-serif;
}

body {
    height: 100%;
    background: linear-gradient(45deg, #5093e5, #5052e5, #9650e5, #cf50e5);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;

    font-family: 'Onest', sans-serif;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.gradient-text {
    background: linear-gradient(45deg, #9650e5, #cf50e5, #5093e5, #4749a0);
    background-size: 400% 400%;
    animation: gradientTextAnimation 15s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes gradientTextAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.onest-fontik {
    font-family: 'Onest', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.base-wrapper {
    background-color: rgba(33, 33, 41, 0.788);
    border-radius: 30px;
}

.main-page-grid {
    height: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    "user-info"
    "bonus-store"
    "bonus-quest"
    "main-quest"
    "leaderboard"
    "menu";
}

.user-info {
    grid-area: user-info;
}

.bonus-store {
    grid-area: bonus-store;
}

.bonus-quest {
    grid-area: bonus-quest;
}

.main-quest {
    grid-area: main-quest;
}

.leaderboard {
    grid-area: leaderboard;
}

.menu {
    grid-area: menu;
}

@media (min-width: 320px) {
    .main-page-grid {
        grid-template-columns: 4fr 2fr;
        grid-template-areas:
        "user-info bonus-store"
        "bonus-quest main-quest"
        "leaderboard leaderboard"
        "menu menu";
        grid-template-rows: 20% 20% 25% 10%;
        /*
        0.25fr 0.25fr 0.55fr 0.1fr;
        */
    }
}

.leaderboard {
    height: 100%;
}

.leaderboard-subitems {
    display: grid;
    grid-template-columns: repeat(4,2fr);
    grid-gap: 2px;
}

.leaderboard div {
    background-color: orange;
    border-radius: 10px;
}

/*container-center*/

.container-center {
    width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-content: space-between;
    justify-content: space-between;
}

@media (max-width: 480px) {
    .container-center {
        width: 95%;
        padding-top: 7px;
        padding-bottom: 3px;
    }
}

/*container-center*/