body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: #c5cae9;
    font-family: 'Onest', sans-serif;
}

.gradient-background {
    height: 100%;
    background: linear-gradient(45deg, #5093e5, #5052e5, #9650e5, #cf50e5);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.gradient-text {
    background: linear-gradient(45deg,#9650e5, #cf50e5, #5093e5, #4749a0);
    background-size: 400% 400%;
    animation: gradientTextAnimation 15s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes gradientTextAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.onest-fontik {
  font-family: 'Onest', sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
}

.modal1 {
    background-color: rgba(33, 33, 41, 0.788);
    width: 310px;
    height: 180px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-100%, -225%);
    border-radius: 30px;
}

.modal2 {
    background-color: rgba(33, 33, 41, 0.788);
    width: 180px;
    height: 180px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(24%, -225%);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.modal3 {
    background-color: rgba(33, 33, 41, 0.788);
    width: 180px;
    height: 180px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-173%, -100%);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.modal4 {
    background-color: rgba(33, 33, 41, 0.788);
    width: 310px;
    height: 180px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-29%, -100%);
    border-radius: 30px;
}

.modal5 {
    background-color: rgba(33, 33, 41, 0.788);
    width: 534px;
    height: 180px; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-59%, 25%);
    border-radius: 30px;
    overflow: hidden;
}

.modal6 {
    background-color: rgba(33, 33, 41, 0.788);
    width: 534px;
    height: 75px; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-59%, 365%);
    border-radius: 23px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-label {
    font-size: 15px;
    color: #c5cae9;
    text-align: center;
    margin-top: 2px;
}

.icons {
    width: 40px;
    margin: 7px 65px auto;
}

.profile {
    margin: 10px;
}

.profile img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    vertical-align: middle;
    display: inline-block;
}

h4 {
    font-size: 24px;
    margin-top: 0;
}

h5 {
    font-size: 23px;
    margin-top: -33px;
    margin-left: 5px;
}

h6 {
    font-size: 23px;
    margin-left: 5px;
    margin-top: -30px;
}

.balance-text {
    display: inline-flex;
    align-items: center;
}

.main_quest {
    margin: 10px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 26px;
    margin-top: 15px;
    margin-left: 3px;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 26px;
    margin-top: 15px;
    margin-left: 3px;
}

h3 {
    display: flex;
    font-size: 22px;
    margin-left: 5px;
    margin-top: 5px;
    align-items: center;
    justify-content: center; 
}

.add_quest {
    margin: 10px;
}

.passive_inc {
    margin: 10px;
}

.btn_main_quest {
    margin: 7px;
    padding: 12px 24px;
    font-size: 25px;
    background-color: rgb(2, 2, 27);
    color: rgb(255, 255, 255);
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 16px;
    font-family: 'Onest', sans-serif;
}

.btn_add_quest {
    margin: 7px;
    padding: 12px 24px;
    font-size: 25px;
    background-color: rgb(2, 2, 27);
    color: rgb(255, 255, 255);
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 16px;
    margin-top: 4px;
    font-family: 'Onest', sans-serif;
}

.btn_passive_inc  {
    padding: 12px 75px;
    font-size: 25px;
    background-color: rgb(2, 2, 27);
    color: rgb(255, 255, 255);
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 20px; 
    position: center;
    margin-left: 21px;
    margin-top: -13px;
    font-family: 'Onest', sans-serif;
}

.btn_main_quest:hover, .btn_add_quest:hover, .btn_passive_inc:hover {
    color: rgb(2, 2, 27);
    background-color: rgb(204, 196, 236);
}

.leaderboard {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding: 5px;
}

.leaderboard-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.leaderboard-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(33, 33, 41, 0.788);
    padding: 5px;
    border-radius: 15px;
    margin: 5px;
    flex-shrink: 0;
    width: 107px;
    height: 150px;
}

.leaderboard-photo-container {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
}

.leaderboard-photo {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    border-radius: 50%;
    z-index: 1000;
}

.leaderboard-entry.top1 {
    border: 2px solid rgb(255, 217, 3);
}

.leaderboard-entry.top2 {
    border: 2px solid silver;
}

.leaderboard-entry.top3 {
    border: 2px solid #FF7F50;
}

.leaderboard-entry.user-position {
    border: 2px solid #5093e5;
}

.leaderboard-name {
    margin-top: 5px;
}

.leaderboard-balance {
    margin-top: 0px;

}


.leaderboard-place {
    width: 37px;
    margin-top: -3px;
}

.leaderboard-top {
    margin-top: 10px;
}

.leaderboard-name_user {
    margin-top: -7px;
}

.leaderboard-balance_user {
    margin-top: 0px;
}

.coin {
    margin-left: 5px;
    width: 47px !important; /* Добавлено !important */
    height: auto !important; /* Обеспечение сохранения пропорций */
}

.quest_mark {
    margin-left: 5px;
    width: 47px !important; /* Добавлено !important */
    height: auto !important; /* Обеспечение сохранения пропорций */
}

.coin2 {
    margin-left: 5px;
    width: 18px !important; /* Добавлено !important */
    height: auto !important; /* Обеспечение сохранения пропорций */
}

.quest_mark2 {
    margin-left: 5px;
    width: 17px !important; /* Добавлено !important */
    height: auto !important; /* Обеспечение сохранения пропорций */
}