body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: #c5cae9;
    font-family: 'Onest', sans-serif;
}

.gradient-background {
    height: 100%;
    background: linear-gradient(45deg, #5093e5, #5052e5, #9650e5, #cf50e5);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.gradient-text {
    background: linear-gradient(45deg,#9650e5, #cf50e5, #5093e5, #4749a0);
    background-size: 400% 400%;
    animation: gradientTextAnimation 15s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes gradientTextAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.onest-fontik {
  font-family: 'Onest', sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
}

.user-info-wrapper {
    background-color: rgba(33, 33, 41, 0.788);
    width: 328px;
    height: 180px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-95%, -225%);
    border-radius: 30px;
}


.modal5 {
    background-color: rgba(33, 33, 41, 0.788);
    width: 534px;
    height: 448px; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-59%, -45%);
    border-radius: 30px;
    overflow: hidden;
}

.modal6 {
    background-color: rgba(33, 33, 41, 0.788);
    width: 534px;
    height: 75px; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-59%, 360%);
    border-radius: 23px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-label {
    font-size: 15px;
    color: #c5cae9;
    text-align: center;
    margin-top: 2px;
}

.icons {
    width: 40px;
    margin: 7px 65px auto;
}

.icon-link {
    text-decoration: none; 
    color: inherit; 
}

.icon-link:hover .icon-container {
    cursor: pointer; 
}

.user-info {
    margin: 10px;
}

.user-info img {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    margin-right: 10px;
    vertical-align: middle;
    display: inline-block;
}

h4 {
    font-size: 30px;
    margin-top: 0;
}

h5 {
    font-size: 23px;
    margin-top: -33px;
    margin-left: 5px;
}

h6 {
    font-size: 23px;
    margin-left: 5px;
    margin-top: -34px;
    display: flex;
    align-items: center;

}

.balance-text {
    display: inline-flex;
    align-items: center;
}


.coin {
    margin-left: 5px;
    width: 47px !important; 
    height: auto !important;
}

.quest_mark {
    margin-left: 0px;
    width: 40px !important;
    height: auto !important; 
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: rgba(33, 33, 41, 0.788);
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height:63px;;
}

.task-info {
    display: flex;
    width: calc(100% - 150px); 
    margin-left: 7px;
}

.task-title {
    font-size: 15px;
    margin: 0;
    flex-grow: 1;
}

.task-reward {
    font-size: 20px;
    color: green;
    margin: 0;
    text-align: center; 

}

.task-progress {
    font-size: 20px;
    margin: 0;
    text-align: center; 
}

.task-button {
    width: 130px;
    height: 40px;
    font-size: 23px;
    background-color: rgb(2, 2, 27);
    color: rgb(255, 255, 255);
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 15px;
    margin-right: 7px;
    font-family: 'Onest', sans-serif;
    align-self: center; 
}

.task-button:hover {
    color: rgb(2, 2, 27);
    background-color: rgb(204, 196, 236);
}